*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
iosApp/Pods/Target Support Files/shared/shared-copy-dsyms.sh
iosApp/Pods/Target Support Files/shared/shared-copy-dsyms-input-files.xcfilelist
iosApp/Pods/Target Support Files/shared/shared-copy-dsyms-output-files.xcfilelist
iosApp/Pods/Pods.xcodeproj/project.pbxproj
/Screenshots